body {
    background-color: black;
    color: yellow;
}
header {
    color: #0c0000;
    background-color: #ee0c0c;
  }
  
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: orangered;
  }

footer {
    color: rgb(99, 4, 4); 
}  
