body {
    background-color: #000001;
    color: yellow;
    font-size: 16px
}
#header {
    background-color: #824C71;
    color: #90AA86;
    font-family: Serif, Impact, Haettenschweiler;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    height: 150px
  }

#name {
    color: #DCCCA3;
    font-family: Monospace;
    font-size: 250%;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DCCCA3;
    color: #4A2545;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 110%;
  }

footer {
    color: #90AA86;
}  


